* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100%;
    width: 100%;
    font-family: "Outfit", serif;
    cursor: default;
    background-color: var(--main-color);
}

:root {
    --main-color: #000000;

    --border-color: #222222;

    --icon-color: #f1f1f1;
    --logo-color: #447CDF;

    --hover-color: #191B28;
    --search-area-bg: #1F1F1F;

    --box-color: #101010;
}

@font-face {
    font-family: Norse-Bold;
    src: url(./Norse-Bold.otf);
}

p {
    color: var(--icon-color);
    font-size: 14px;
}

svg {
    height: 22px;
    fill: var(--icon-color);
}

a {
    text-decoration: none;
}

input {
    font-size: 15px;
    background-color: transparent;
    border: none;
    font-family: "Outfit", serif;
    color: var(--icon-color);
}
input:focus {
    outline: none;
    color: var(--icon-color);
}

button {
    background-color: var(--logo-color);
    color: var(--icon-color);
    border: none;
    height: 30px;
    width: 70px;
    border-radius: 15px;
}
    /*   -- CODE SECTION --   */

section {
    height: 100vh;
    width: 100%;
    display: inline-grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 85px 1fr;
}

        /*   -- SIDE MENU SECTION --   */

aside {
    background-color: var(--main-color);
    border-right: 1px solid var(--border-color);
    grid-row-start: 1;
    grid-row-end: 6;
    display: grid;
    grid-template-rows: 1fr 7fr;
    border-radius: 0 20px 20px 0;
    padding: 5px;
}

    /* - LOGO SECTION - */

.logo-area {
    display: grid;
    place-items: center;
    .logo-text {
        display: flex;
        align-items: center;
        gap: 6px;
        #logo-img {
            height: 33px;
            width: 33px;
            fill: var(--logo-color);
        }
        #logo-font {
            font-family: "Unbounded", serif;
            font-size: 17px;
        }
    }
}

    /* - NAV SECTION - */

.nav-area {
    display: grid;
    grid-template-rows: 1fr 1fr;

    .upper-nav-area {
        display: grid;
        padding: 3px 10px;
        #logo-text {
            padding: 0 20px;
            display: grid;
            grid-template-columns: 38px 1fr;
            align-items: center;
            border-radius: 14px;
        }
        #logo-text:hover {
            background-color: var(--hover-color);
            svg {
                fill: var(--logo-color);
            }
            p {
                color: var(--logo-color);
            }
        }
        .home-icon {
            background-color: var(--hover-color);
            svg {
                fill: var(--logo-color);
            }
            p {
                color: var(--logo-color);
            }
        }
    }

    .lower-nav-area {
        display: grid;
        grid-template-rows: 1fr 1fr;
        .lower-nav-btn-area {
            display: grid;
            padding: 3px 10px;
            #logo-text {
                padding: 0 20px;
                display: grid;
                grid-template-columns: 38px 1fr;
                align-items: center;
                border-radius: 14px;
            }
            #logo-text:hover {
                background-color: var(--hover-color);
                svg {
                    fill: var(--logo-color);
                }
                p {
                    color: var(--logo-color);
                }
            }
        }
    }
}

        /*   -- HEADER SECTION --   */

header {
    display: grid;
    grid-template-columns: 1fr 270px 120px 200px;
    .search-area-section {
        display: grid;
        place-items: center;
        .search-area {
            display: grid;
            grid-template-columns: 35px 1fr;
            padding: 10px;
            border-radius: 20px;
            background-color: var(--search-area-bg);
            #search-input {
                width: 400px;
            }
        }
    }
    .notify-icon-area {
        display: grid;
        place-content: center;
        svg {
            fill: #9AA0A6;
        }
        svg:hover {
            transition: .3s;
            fill: var(--logo-color);
        }
    }
    .account-profile-area {
        display: grid;
        grid-template-columns: 45px 1fr;
        align-items: center;
        .profile-font {
            font-family: "Unbounded", serif;
            font-size: 14px;
        }
    }
}

        /*   -- MAIN BODY SECTION --   */

main {
    display: grid;
    grid-template-rows: 42px 1fr;  /* main project body area */

    .project-heading-area {
        display: grid;
        grid-template-columns: 250px 1fr 330px;

        .project-heading-font-area {
            display: grid;
            place-content: center;

            .project-heading-font {
                font-family: Norse-Bold;
                font-size: 30px;
            }
        }
        .project-heading-btn-area {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10px;
        }
    }
}

.project-area {
    display: grid;
    grid-template-columns: 1fr 340px;

    .project {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        .project-container {
            display: grid;
            grid-template-rows: 1fr 30px;
            padding: 25px;
            .project-img-area {
                border-radius: 12px 12px 0 0;
                overflow: hidden;
                img {
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                }
            }
            .project-btn-area {
                background-color: #171717; 
                border-radius: 0 0 12px 12px;
                display: grid;
                grid-template-columns: 1fr 35px 50px;
                place-items: center;
                a > svg {
                    height: 20px;
                }
            }
        }
    }

    .project-announcement-area {
        /* background-color: #5f95f2; */
    }
}